<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <mvc.buildPageDefinition>
        <processor patch:instead="*[@type='Sitecore.Mvc.Pipelines.Response.BuildPageDefinition.ProcessXmlBasedLayoutDefinition, Sitecore.Mvc']" type="Sitecore.Support.XA.Foundation.Presentation.Pipelines.BuildPageDefinition.ProcessXmlBasedLayoutDefinition,Sitecore.Support.335596" resolve="true"/>
        <processor patch:instead="*[@type='Sitecore.XA.Foundation.Presentation.Pipelines.BuildPageDefinition.GetPlaceholderDefinitions,Sitecore.XA.Foundation.Presentation']" type="Sitecore.Support.XA.Foundation.Presentation.Pipelines.BuildPageDefinition.GetPlaceholderDefinitions,Sitecore.Support.335596" resolve="true"/>
      </mvc.buildPageDefinition>
    </pipelines>
  </sitecore>
</configuration>